* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
  background: white;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;

}

.container {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gallery-card-carousel {
  --card-width: 80%;
  --card-max-width: 580px;
  --card-height: 580px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .gallery-card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.gallery-card-carousel.smooth-return {
  transition: all .2s ease;
}

.gallery-card-carousel .card {
  background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0,0,0,.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);

  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1)
}

.gallery-image-container img  {
  width: auto;
  height: var(--card-height);
  position: relative;
  /*background-size: cover;*/
  object-fit: cover;
  /*margin-bottom: 2em;*/
  padding: 2em;
}

.gallery-image-container img::after {
  content: "";
  display: block;
  width: 120%;
  height: 350px;
  /*border: solid 3px rgba(0, 0, 0, .1);*/
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}